.introduction {
  margin-top: 30vh;
  margin-left: 10%;
}

.introductionTitle {
  font-family: $main-font;
  font-size: $big-font;
  color: $textcolor;
}

.introductionSubtitle {
  font-size: $small-font;
  color: $textcolor;
  font-family: $main-font;
}

.introFancy {
  display: inline;
  color: $secundary;
}
