.introduction {
  padding-top: 30vh;
  padding-left: 10%;
  font-family: $main-font;
}

.introductionTitle {
  font-size: $big-font;
  color: $textcolor;
}

.introductionSubtitle {
  font-size: $small-font;
  color: $textcolor;
}

.introFancy {
  display: inline;
  color: $secundary;
  font-family: $fancy-font;
}
