@media (min-width: 300px) {
  .introductionTitle {
    font-size: 2.2rem;
  }
  .introductionSubtitle {
    font-size: 1.5rem;
  }
  .contactPart {
    font-size: 2rem;
  }
  .contactText {
    font-size: 2rem;
  }
  .contactHeader {
    font-size: 4rem;
  }
  .monitor {
    display: flex;
    justify-content: center;
  }
  .monitorImage {
    width: 290px;
  }
}

@media (min-width: 400px) {
  .monitorImage {
    width: 350px;
  }
  .contactMedias {
    grid-gap: 2rem;
    grid-template-areas:
      "Github Reddit"
      "Mobile Email";
  }

  .skillsHeader {
    font-size: 2.2rem;
  }

  .introductionTitle {
    font-size: 2.7rem;
  }
  .skillsPage {
    height: 1700px;
  }

  .skillsGrid {
    grid-template-columns: 1fr 1fr;
  }

  .skillsHeader {
    align-self: center;
  }
  .accGrid {
    grid-template-columns: 1fr 1fr;
  }
  .projectsGrid{
      grid-template-columns:1fr 1fr;
  }
  .accHeader {
    align-self: center;
  }
  .projectsHeader{
    align-self:center;
  }
}

@media (min-width: 500px) {
  .introduction {
    padding-top: 20vh;
  }
  .monitorImage {
    width: 450px;
  }
  .monitorImage {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .introductionTitle {
    font-size: 3.3rem;
  }
}

@media (min-width: 550px) {
  .monitorImage {
    width: 500px;
  }
  .introductionTitle {
    font-size: 3.7rem;
  }
  .menuIcon {
    display: none;
  }
  .menuText {
    display: block;
  }
}

@media(min-width:700px){
  .skillsGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .certificate {
    width: 250px;
    height: 250px;
  }
  .project {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1000px) {
  .monitorImage {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .monitorImage {
    width: 700px;
  }
  .hugeMonitor {
    display: none;
  }
  .bigMonitor {
    display: inherit;
  }
}

@media (min-width: 1400px) {
  .accGrid {
    grid-template-columns: 1fr;
  }
  .projectsGrid {
    grid-template-columns: 1fr;
  }
  .skillsPage {
    height: 1200px;
    grid-template-areas: "skills accomplishments projects";
  }
  .monitorImage {
    margin-right: 10vw;
  }
}

@media (min-width: 1500px) {
  .monitorImage {
    width: 800px;
    margin-right: 5vw;
  }
}

@media (min-width: 1700px) {
  .monitorImage {
    width: 800px;
    margin-right: 2vw;
  }
}
