.menu {
  display: flex;
  // flex-direction: column;
  list-style: none;
  margin-left: auto;
  font-family: $main-font;
  color: $textcolor;
  margin-right: 40px;
}

.menuItem {
  cursor: pointer;
  margin-left: 20px;
}

.menu > .active {
  color: $secundary;
}
