.menu {
  display: flex;
  list-style: none;
  font-family: $main-font;
  color: $textcolor;
  margin-right: 40px;
  margin-left: auto;
}

.menuItem {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
}

.menu > .active {
  color: $secundary;
}
