.skillsPage {
  width: 100%;
  background: $foreground2;
  display: grid;
  height: 3200px;
  grid-template-areas:
    "skills"
    "accomplishments"
    "projects";
  font-size: $regular-font;
}

.skills {
  justify-self: center;
  grid-area: "skills";
  margin-top: 20vh;
}

.projects {
  justify-self: center;
  grid-area: "skills";
  margin-top: 20vh;
}

.accomplishments {
  grid-area: "accomplishments";
  justify-self: center;
  font-family: $main-font;
  margin-top: 20vh;
}

.projectsGrid {
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center;
}

.accGrid {
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center;
}
.skillsHeader {
  font-family: $main-font;
}

.skillsGrid {
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center;
}
.skillCell {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: $main-font;
  text-align: center;
  background-color: $main;
  color: #d9d9d9;
  transition: opacity 0.25s ease-in-out;
}

.skillImage {
  height: 250px;
  width: 250px;
}

.skillCell:hover {
  opacity: 0.8;
}
