.skillsPage {
  width: 100%;
  color: $textcolor;
  background: $foreground2;
  display: grid;
  height: 2200px;
  grid-template-areas:
    "skills"
    "accomplishments"
    "projects";
}

.skills {
  justify-self: center;
  grid-area: "skills";
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.projects {
  justify-self: center;
  grid-area: "skills";
}

.accomplishments {
  grid-area: "accomplishments";
  justify-self: center;
  font-family: $main-font;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.projectsGrid {
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center;
}

.accGrid {
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center;
  margin-top: 2rem;
}

.skillsGrid {
  display: grid;
  grid-gap: 1.5rem;
  justify-items: center;
  margin-top: 2rem;
}
.skillCell {
  padding: 0.5rem;
  font-size: $small-font;
  font-family: $main-font;
  text-align: center;
  background-color: $main;
  color: #d9d9d9;
  transition: opacity 0.25s ease-in-out;
}

.skillImage {
  height: 150px;
  width: 150px;
}

.skillCell:hover {
  opacity: 0.8;
  font-size: 1rem;
}

.skillsHeader {
  font-family: $fancy-font;
  font-size: $big-font;
}

.accHeader {
  font-family: $fancy-font;
  font-size: $big-font;
}

.projectsHeader {
  font-family: $fancy-font;
  font-size: $big-font;
}
