//THEME AND COLORING
// $main: hsl(240, 12%, 18%)
$main: #000000;
$foreground: hsl(0, 0%, 0%);
$foreground2: #006888;

$secundary: #00e03c;
$textcolor: hsl(0, 0%, 80%);

//FONTS
$fancy-font: "Convergence";
$main-font: "Roboto";

//FONT SIZES(smallest device)
$huge-font: 3rem;
$big-font: 1.7rem;
$regular-font: 1.1rem;
$small-font: 1rem;
